@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    cursor: default;
}

body{
    display: grid;
    background: #F6B17A;
}

header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background: #2D3250;
    height: 100px;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 2px 18px 11px rgba(0,0,0,0.75);
}

header p{
    font-size: 50px;
    color: #F6B17A;
    font-family: 'Monoton', sans-serif;
    cursor: pointer;
    
}

header .small{
    color: #bdbdbd;
    font-size: 20px;
    cursor: pointer;
}

.container section {
    display: flex;
    min-width: 600px;
    flex-direction: column;
    background-color: #2D3250;
}

.container .info{
    display: flex;
    margin: 20px 300px;
    background: none;
    border: none;
    text-align: center;
    transition: all .2s ease;
}

.container .info .greetings h2{
    margin-top: 30px;
    color: #2D3250;
    font-weight: 700;
    font-size: 40px;
}

.container .info .greetings p{
    color: #2D3250;
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    line-height: 25px;
}

.container .info .greetings h5{
    color: #F6B17A;
    margin-top: 15px;
    padding: 12px;
    font-size: 30px;
    background: #2D3250;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 14px rgba(0,0,0,0.15);
    transition: all .2s ease;
    cursor: pointer;
}

.container .info .greetings #spec{
    color: #2D3250;
    background: none;
    box-shadow: none;
    transition: all .2s ease;
}

.container .info .greetings #spec:hover{
    color: #F6B17A;
    background: #2D3250;
    box-shadow: inherit;
}

.container .content {
    display: flex;
    margin: 20px 300px;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 0px 40px 14px rgba(0,0,0,0.15);
    transition: all .2s ease;
}

.container .content .title{
    color: #F6B17A;
    background: #424769;
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    align-self: center;

}

.container .content img{
    margin: 20px;
    width: 220px;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 14px rgba(0,0,0,0.15);
}

.container .content .formula-info{
    color: #F6B17A;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding: 13px 30px;
}

.container .content .formula-info .formula{
    margin: 10px 0;
    padding: 10px;
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
    color: #F6B17A;
    border-radius: 12px;
}

.container .content .calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px 50px;
    background: #424769;
    border-radius: 16px;
}

.container .content .calc h2{
    color: #F6B17A;
    padding: 20px;
    margin-bottom: 10px;
}

.container .content .screen{
    margin: 0 20px 20px;
    padding: 15px 100px;
    width: 100%;
    height: 100%;
    background: #2D3250;
    border-radius: 20px;
    line-height: 40px;
    color: #F6B17A;
    text-align: center;
}

.container .content .calc input{
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-bottom:  30px;
    background-color: #2D3250;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #F6B17A;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

.container .content .calc input::placeholder{
    text-align: center;
    color: #bdbdbd;
    opacity: 50%;
}

.container .content .calc input:focus{
    outline: none;
    background-color: #2D3250;
}

.container .content .calc input:focus::placeholder{
    color: transparent;
}

.container .content .calc button{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 16px;
    color: #2D3250;
    background:#F6B17A;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.15);
    transition: all .2s ease;
}

.container .content .calc .submit:hover{
    color:  #F6B17A ;
   background-color: #2D3250;
}

.container .content .calc .reset:hover{
    background-color: #be4141;
    color: #F6B17A;
}


.container .content .calc .reset:active {
    background:  #F6B17A; 
    color: #2D3250;
}

.container .content .calc .submit:active {
    background:  #F6B17A; 
    color: #2D3250;
}


footer{
    display: flex;
    flex-direction: column;
    background: #2D3250;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 100px 0 0;
}

footer p{
    font-size: 40px;
    color: #F6B17A;
    font-family: 'Monoton', sans-serif;
}

footer h3{
    font-size: smaller;
    color: #bdbdbd;
    font-style: italic;
}

@media screen and (max-width: 768px) {

    body{
        size: 768px;
        font-size: larger;
    }

    .container .info{
        margin: 20px;
    }

    .container .content {
        margin: 20px;
    }

    .container .content .calc input{
        padding: 30px;
        margin-bottom:  30px;
        font-size: 25px;
    }

    .container .content .screen{
        font-size: 20px;
    }


}